/* Breakpoint values - Mobile First */
@theme {
  --breakpoint-xs: 372px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440px;
}
