.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #00DB50;
  border-radius: 4px;
  border: 2px solid #f8f8f8;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #00DB50 #f8f8f8;
}
