@theme {
  --spacing-unit: 4px;

  --spacing-xxs: calc(var(--spacing-unit) * 1);
  --spacing-xs: calc(var(--spacing-unit) * 2);
  --spacing-sm: calc(var(--spacing-unit) * 3);
  --spacing-md: calc(var(--spacing-unit) * 4);
  --spacing-lg: calc(var(--spacing-unit) * 6);
  --spacing-xl: calc(var(--spacing-unit) * 8);
  --spacing-2xl: calc(var(--spacing-unit) * 12);
  --spacing-3xl: calc(var(--spacing-unit) * 16);

  --spacing-safe: calc(env(safe-area-inset-bottom) + 3rem);
}
